Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

fmt
  src/DesignKit.tsx
Due: eslint

update index
  src/index.ts
Due: eslint

add Tree and Divider components [WEB-1920] (#102)
  src/DesignKit.tsx
  src/index.ts
  src/kit/Divider.tsx
  src/kit/Tree.tsx
Due: eslint

0.6.29
  package-lock.json
  package.json
Due: packagelock

ddown test
  src/kit/Dropdown.tsx
Due: eslint

more info log
  src/kit/Dropdown.tsx
Due: eslint

tooltip
  src/kit/Dropdown.tsx
Due: eslint

check
  src/kit/Dropdown.tsx
Due: eslint

onclick
  src/kit/Dropdown.tsx
Due: eslint

menu items
  src/kit/Dropdown.tsx
Due: eslint

fix
  src/kit/Dropdown.tsx
Due: eslint

refactor: convert ChartGrid to React Virtuoso [WEB-1936]
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/LineChart.module.scss
  src/kit/LineChart.tsx
Due: eslint, packagelock

change to auto-fit
  src/kit/LineChart.module.scss
Due: none

chore: use vite-plugin-svg-to-jsx
  package-lock.json
  package.json
  vite-plugin-svg-to-jsx.ts
  vite.config.ts
Due: eslint, packagelock

lint
  vite.config.ts
Due: eslint

Remove extra padding
  src/kit/LineChart.module.scss
  src/kit/LineChart.tsx
Due: eslint

refactor: convert ChartGrid to React Virtuoso [WEB-1936] (#103)
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/LineChart.module.scss
  src/kit/LineChart.tsx
Due: eslint, packagelock

use hpe package
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, packagelock

updage
  package-lock.json
  package.json
Due: packagelock

fix svgo deps
  package-lock.json
  package.json
Due: packagelock

update svg to jsx plugin
  package-lock.json
  package.json
Due: packagelock

LogViewerSelect example
  src/DesignKit.tsx
Due: eslint

LogViewerSelect example (#106)
  src/DesignKit.tsx
Due: eslint

custom is custom (use custom_bump_level)
  .github/workflows/publish-to-npm.yml
Due: none

fetch all history
  .github/workflows/publish-to-npm.yml
Due: none

scope package
  package.json
Due: none

update job names
  .github/workflows/publish-to-npm.yml
Due: none

move npm classic token to secret
  .github/workflows/publish-to-npm.yml
Due: none

dry runs
  .github/workflows/publish-to-npm.yml
Due: none

single quotes only?
  .github/workflows/publish-to-npm.yml
Due: none

fix tag
  .github/workflows/publish-to-npm.yml
Due: none

move to separate jobs
  .github/workflows/publish-to-npm.yml
Due: none

fix event name
  .github/workflows/publish-to-npm.yml
Due: none

fix workflow filename
  .github/workflows/publish-to-npm.yml
Due: none

fix if statements
  .github/workflows/publish-to-npm.yml
Due: none

move workflow to separate repo
  .github/workflows/publish-to-npm.yml
Due: none

switch to main/kill passing github token
  .github/workflows/publish-to-npm.yml
Due: none

debug bump level
  .github/workflows/publish-to-npm.yml
Due: none

explicitly pass github token
  .github/workflows/publish-to-npm.yml
Due: none
