Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

eslint:
  name: eslint
  entry: sh -c 'npx eslint --fix $@ && git add $@' _
  language: system
  require_serial: true
  stages:
  - commit

packagelock:
  name: checking for ssh sources in package-lock.json
  entry: ssh://
  language: pygrep
  stages:
  - commit

Change fetch behavior
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Testing
  src/kit/LogViewer/LogViewer.tsx
  src/utils/string.ts
Due: eslint

Get rid of bottom threshold
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Increase bottom threshold
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Testing index
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Fix scrolling jumps?
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Test scrolling
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

More logging
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Bugfixing
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Does this fix scroll?
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Comment out scroll after fetch
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Partial uncomment
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Add timeout
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Remove comments
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Full dep array
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Remove Select style changes
  src/kit/Select.module.scss
Due: none

Change dupe detection
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Fix mutability
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

copy from determined, rename, fix errors
  package-lock.json
  package.json
  src/kit/DataGrid/DataGrid.module.scss
  src/kit/DataGrid/DataGrid.tsx
  src/kit/DataGrid/columns.ts
  src/kit/DataGrid/contextMenu.tsx
  src/kit/DataGrid/custom-renderers/README.md
  src/kit/DataGrid/custom-renderers/cells/checkboxCell.tsx
  src/kit/DataGrid/custom-renderers/cells/linkCell.tsx
  src/kit/DataGrid/custom-renderers/cells/loadingCell.tsx
  src/kit/DataGrid/custom-renderers/cells/progressCell.tsx
  src/kit/DataGrid/custom-renderers/cells/sparklineCell.tsx
  src/kit/DataGrid/custom-renderers/cells/stateCell.tsx
  src/kit/DataGrid/custom-renderers/cells/tagsCell.tsx
  src/kit/DataGrid/custom-renderers/cells/textCell.tsx
  src/kit/DataGrid/custom-renderers/cells/userAvatarCell.tsx
  src/kit/DataGrid/custom-renderers/index.tsx
  src/kit/DataGrid/custom-renderers/utils.ts
  src/kit/DataGrid/menu.tsx
  src/kit/DataGrid/tooltip.tsx
  src/kit/internal/functions.ts
  src/kit/internal/types.ts
  src/kit/utils/observable.ts
Due: eslint, packagelock

fix css import and update fixes from determined
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

remove columnWidths prop
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

columnsOrder and optional generics
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

update with changes from determined GlideTable
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

refactor: convert LogViewer to React Virtuoso [WEB-1954] (#110)
  package-lock.json
  package.json
  src/kit/Column.tsx
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.test.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerEntry.module.scss
  src/kit/LogViewer/LogViewerEntry.test.tsx
  src/kit/LogViewer/LogViewerEntry.tsx
  src/kit/LogViewer/LogViewerSelect.tsx
  src/kit/Section.module.scss
  src/kit/Section.tsx
  src/kit/internal/functions.ts
  src/utils/string.ts
Due: eslint, packagelock

removed console warnings
  .circleci/config.yml
  .pre-commit-config.yaml
  index.html
  src/DesignKit.tsx
  src/kit/Badge.tsx
  src/kit/Button.tsx
  src/kit/LineChart.tsx
  src/kit/Message.tsx
  src/kit/ResponsiveGroup.tsx
Due: eslint

export and example
  index.html
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/index.ts
Due: eslint, packagelock

lint
  src/DesignKit.tsx
Due: eslint

cleanup
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/DataGrid/DataGrid.tsx
Due: eslint, packagelock

stateCell refactor
  src/DesignKit.tsx
  src/kit/DataGrid/custom-renderers/cells/stateCell.tsx
  src/kit/DataGrid/custom-renderers/utils.ts
Due: eslint

fmt
  src/DesignKit.tsx
Due: eslint

TableMenu rename and Checkbox icon fix
  src/kit/DataGrid/DataGrid.tsx
  src/kit/DataGrid/columns.ts
  src/kit/DataGrid/custom-renderers/cells/checkboxCell.tsx
  src/kit/DataGrid/icons.tsx
  src/kit/DataGrid/menu.tsx
Due: eslint

fmt
  src/kit/DataGrid/DataGrid.tsx
  src/kit/DataGrid/custom-renderers/cells/checkboxCell.tsx
  src/kit/DataGrid/icons.tsx
  src/kit/DataGrid/menu.tsx
Due: eslint

attend to PR comments
  src/kit/ResponsiveGroup.tsx
Due: eslint

add onChange to the deps. array
  src/kit/ResponsiveGroup.tsx
Due: eslint

handle undefined renderContextMenuComponent
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

fix: improved textcell performance for novels
  src/kit/DataGrid/custom-renderers/utils.ts
Due: eslint

chore: upload unit test coverage reports to codecov
  .circleci/config.yml
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, packagelock

ignore coverage folder
  .gitignore
Due: none

chore: upload unit test coverage reports to codecov (#116)
  .circleci/config.yml
  .gitignore
  package-lock.json
  package.json
  vite.config.ts
Due: eslint, packagelock

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  packagelock: any of: ^package-lock\.json$
