Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

eslint:
  name: eslint
  entry: sh -c 'npx eslint --fix $@ && git add $@' _
  language: system
  require_serial: true
  stages:
  - commit

packagelock:
  name: checking for ssh sources in package-lock.json
  entry: ssh://
  language: pygrep
  stages:
  - commit

replace card in richtexteditor
  src/kit/DocumentCard.module.scss
  src/kit/DocumentCard.tsx
  src/kit/DocumentCards.module.scss
  src/kit/DocumentCards.tsx
  src/kit/Row.tsx
Due: eslint

bump the cache-buster for circle ci
  .circleci/config.yml
Due: none

add row alignment to design kit
  src/DesignKit.tsx
  src/kit/Row.module.scss
  src/kit/Row.tsx
Due: eslint

Revert "bump the cache-buster for circle ci"
  .circleci/config.yml
Due: none

chore: update playwright
  package-lock.json
Due: packagelock

fix: don't reinstall playwright when generating screenshots
  .circleci/config.yml
  scripts/get-cachebuster-from-config.mjs
Due: eslint

remove useless echo
  .circleci/config.yml
Due: none

copy cachebuster getter from current branch
  .circleci/config.yml
Due: none

use actual filename when copying back
  .circleci/config.yml
Due: none

use current dependencies for js-yaml, run cachebuster get script inline
  .circleci/config.yml
  scripts/get-cachebuster-from-config.mjs
Due: eslint

updates based on pr feedback
  src/DesignKit.tsx
  src/kit/SplitPane.tsx
Due: eslint

formatting
  src/DesignKit.tsx
  src/kit/SplitPane.tsx
Due: eslint

chore: update playwright (#54)
  package-lock.json
Due: packagelock

fix: `DocumentCards` width
  src/kit/DocumentCards.module.scss
Due: none

fix: solve scrolling off view for the antd Tabs component (#50)
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/Icon.tsx
  src/kit/Tooltip.tsx
  src/kit/__mocks__/Tooltip.tsx
Due: eslint, packagelock

create List
  src/DesignKit.tsx
  src/kit/Link.module.scss
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Row.module.scss
Due: eslint

fix: Adjust for updates to checkpoints, simulate in streaming data
  src/DesignKit.tsx
  src/kit/internal/UPlot/UPlotChart.tsx
Due: eslint

Extract elevation from surface
  src/DesignKit.tsx
  src/kit/Surface.module.scss
  src/kit/internal/Elevation.module.scss
Due: eslint

Remove border and hover from useElevation
  src/kit/internal/Elevation.tsx
Due: eslint

Weaken border radius
  src/kit/Pivot.module.scss
  src/kit/Surface.module.scss
Due: none

Syntax
  src/kit/internal/Elevation.tsx
Due: eslint

Simplify elevation
  src/kit/Pivot.module.scss
  src/kit/Pivot.tsx
  src/kit/internal/Elevation.module.scss
  src/kit/internal/Elevation.tsx
Due: eslint

Cleanup
  src/DesignKit.tsx
  src/kit/Pivot.module.scss
  src/kit/Pivot.tsx
  src/kit/internal/Elevation.module.scss
  src/kit/internal/Elevation.tsx
Due: eslint

Move to Context
  src/DesignKit.tsx
  src/index.ts
  src/kit/Surface.module.scss
  src/kit/Surface.tsx
  src/kit/Theme/themes.ts
  src/kit/internal/Elevation.module.scss
  src/kit/internal/useElevation.tsx
Due: eslint

Fix context
  src/kit/Pivot.module.scss
  src/kit/Pivot.tsx
  src/kit/Surface.tsx
  src/kit/internal/Elevation.module.scss
  src/kit/internal/Elevation.tsx
Due: eslint

Apply suggestions from code review
  src/kit/Surface.tsx
  src/kit/internal/Elevation.tsx
Due: eslint

Move hover and border options
  src/kit/internal/Elevation.module.scss
Due: none

feat: add Elevation to Pivot (and extract Elevation from Surface) [WEB-1810] (#56)
  src/DesignKit.tsx
  src/index.ts
  src/kit/Pivot.module.scss
  src/kit/Pivot.tsx
  src/kit/Surface.module.scss
  src/kit/Surface.tsx
  src/kit/Theme/themes.ts
  src/kit/internal/Elevation.module.scss
  src/kit/internal/Elevation.tsx
Due: eslint

Refactor DocumentCard to use Surface
  src/kit/DocumentCard.module.scss
  src/kit/DocumentCard.tsx
Due: eslint

Code cleanup
  src/DesignKit.tsx
  src/kit/DocumentCards.module.scss
  src/kit/DocumentCards.tsx
  src/kit/RichTextEditor.tsx
Due: eslint

feat: Add SplitPane component to UI Kit [WEB-1682] (#49)
  src/DesignKit.tsx
  src/kit/SplitPane.module.scss
  src/kit/SplitPane.tsx
Due: eslint

Fix title bug
  src/kit/DocumentCard.tsx
Due: eslint

feat: add Elevation to RichTextEditor [WEB-1811] (#59)
  src/DesignKit.tsx
  src/kit/DocumentCard.module.scss
  src/kit/DocumentCard.tsx
  src/kit/DocumentCards.module.scss
  src/kit/DocumentCards.tsx
  src/kit/RichTextEditor.tsx
Due: eslint

chore: revert antd version upgrade
  package-lock.json
  package.json
Due: packagelock

actions
  src/DesignKit.tsx
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Row.module.scss
Due: eslint

elevation
  src/DesignKit.tsx
  src/kit/List.module.scss
  src/kit/List.tsx
Due: eslint

Column, Row, Link
  src/DesignKit.tsx
  src/kit/Column.module.scss
  src/kit/Column.tsx
  src/kit/Link.tsx
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Row.module.scss
  src/kit/Row.tsx
Due: eslint

revert changes for Document cards
  src/kit/DocumentCard.module.scss
  src/kit/DocumentCard.tsx
  src/kit/DocumentCards.module.scss
  src/kit/DocumentCards.tsx
Due: eslint

cleanup
  src/kit/List.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  packagelock: any of: ^package-lock\.json$
