Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

chore: Add eslint rule [WEB-1804]
  .eslintrc.cjs
Due: eslint

fix: Typography tooltip theme (#38)
  src/DesignKit.tsx
  src/kit/Typography.tsx
Due: eslint

mixins
  styles/mixins.scss
Due: none

fixed pixel width value
  src/DesignKit.tsx
Due: eslint

format
  src/DesignKit.tsx
Due: eslint

chore: update Column and Row components [WEB-1722] (#33)
  src/DesignKit.tsx
  src/index.ts
  src/kit/Breadcrumb.tsx
  src/kit/Column.module.scss
  src/kit/Column.tsx
  src/kit/Columns.module.scss
  src/kit/Columns.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/Row.module.scss
  src/kit/Row.tsx
Due: eslint

0.6.8
  package-lock.json
  package.json
Due: packagelock

chore: Add eslint rule for ?? operator [WEB-1804] (#43)
  .eslintrc.cjs
Due: eslint

remove Row width
  src/kit/Row.module.scss
Due: none

fix: Patch modal CSS / handling in document flow
  src/kit/Modal.module.scss
Due: none

fix: Add Theming to AntdDropdown
  src/kit/Dropdown.tsx
Due: eslint

fix: Add Theming to Dropdown
  src/kit/Dropdown.tsx
Due: eslint

fix: Add Theming to Dropdown (#46)
  src/kit/Dropdown.tsx
Due: eslint

fix: Fix number input theming
  src/kit/InputNumber.tsx
Due: eslint

fix: style back in `LogViewerEntry`
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

fix: style back in `LogViewerEntry` (#47)
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

css
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

fix: Logs filter bar is partially hidden (#48)
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

0.6.9
  package-lock.json
  package.json
Due: packagelock

fix: Patch modal CSS / handling in document flow (#45)
  src/kit/Modal.module.scss
Due: none

fix: Row width issue [WEB-1722] (#44)
  src/kit/Row.module.scss
Due: none

0.6.10
  package-lock.json
  package.json
Due: packagelock

test
  src/kit/Form.tsx
Due: eslint

feat: Add SplitPane to UI Kit
  src/DesignKit.tsx
  src/kit/SplitPane.module.scss
  src/kit/SplitPane.tsx
Due: eslint

formatting
  src/DesignKit.tsx
  src/kit/SplitPane.module.scss
  src/kit/SplitPane.tsx
Due: eslint

chore: Fix typo in Select placeholder (#41)
  src/DesignKit.tsx
Due: eslint

update antd and icos lib version
  package-lock.json
  package.json
  src/kit/Icon.tsx
  src/kit/Tooltip.tsx
  src/kit/__mocks__/Tooltip.tsx
Due: eslint, packagelock

update preview page to have an interactive and more responsive Pivot component
  src/DesignKit.tsx
Due: eslint

fix: Datepicker styling
  src/kit/DatePicker.tsx
Due: eslint

fix: Datepicker styling (#51)
  src/kit/DatePicker.tsx
Due: eslint

fix: InputNumber should apply classnames
  src/kit/InputNumber.tsx
Due: eslint

chore: remove antd
  src/DesignKit.tsx
  src/kit/DocumentCard.tsx
  src/kit/DocumentCards.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerSelect.tsx
  src/kit/Pivot.tsx
  src/kit/Row.module.scss
  src/kit/Row.tsx
  src/kit/Toggle.tsx
Due: eslint

change var naming
  src/kit/InputNumber.tsx
Due: eslint

fix: InputNumber should apply passed in classnames [WEB-1837] (#52)
  src/kit/InputNumber.tsx
Due: eslint

update the types library for react and react-dom to remove the rev prop
  package-lock.json
  package.json
  src/kit/Icon.tsx
Due: eslint, packagelock

0.6.11
  package-lock.json
  package.json
Due: packagelock

revert the icons maps
  src/kit/Icon.tsx
Due: eslint
