Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

add npm publish action (#105)
  .github/workflows/publish-to-npm.yml
  README.md
  package.json
Due: none

chore: move global antd styles to hew components [WEB-1923] (#111)
  src/kit/Breadcrumb.module.css
  src/kit/Breadcrumb.module.scss
  src/kit/Breadcrumb.tsx
  src/kit/Button.module.scss
  src/kit/Checkbox.module.scss
  src/kit/DatePicker.module.scss
  src/kit/Input.tsx
  src/kit/InputNumber.module.scss
  src/kit/InputNumber.tsx
  src/kit/InputSearch.tsx
  src/kit/Inputs.module.scss
  src/kit/Pivot.module.scss
  src/kit/Select.module.scss
  src/kit/Spinner.module.scss
  src/kit/Toast.module.scss
  src/kit/Toast.tsx
  src/kit/Tooltip.module.scss
  src/kit/Tooltip.tsx
  src/styles/antd.scss
  src/styles/index.scss
Due: eslint

fix: form initial value type
  src/kit/Form.tsx
Due: eslint

fix: form initial value type (#112)
  src/kit/Form.tsx
Due: eslint

Remove old code
  src/DesignKit.tsx
  src/index.ts
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerEntry.module.scss
  src/kit/LogViewer/LogViewerEntry.tsx
  src/kit/Select.module.scss
Due: eslint

Basic display and behavior
  src/DesignKit.tsx
  src/index.ts
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerEntry.module.scss
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

Fix selects
  src/kit/Column.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerSelect.tsx
  src/kit/Select.module.scss
Due: eslint

Work on scrolling
  src/kit/LogViewer/LogViewer.tsx
  src/kit/internal/functions.ts
Due: eslint

Shrink select widths
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

LogViewer should stretch to fill container if possible
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
  src/kit/Section.module.scss
  src/kit/Section.tsx
Due: eslint

Simplify
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerEntry.module.scss
Due: eslint

Fix scrolling
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewerSelect.tsx
  src/kit/Select.module.scss
Due: eslint

Tweak tailing
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Remove code from deleted logs
  src/kit/LogViewer/LogViewer.test.tsx
Due: eslint

Remove unneeded useTheme from LogViewer
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Migrate test to hew
  src/kit/LogViewer/LogViewer.test.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/LogViewer/LogViewerEntry.test.tsx
Due: eslint

Update lockfile
  package-lock.json
Due: packagelock

Revert "Update lockfile"
  package-lock.json
Due: packagelock

Remove react-window
  package-lock.json
  package.json
Due: packagelock

setup cypress testing
  .circleci/config.yml
  README.md
  cypress.config.ts
  cypress/component/Modal.cy.tsx
  cypress/component/__image_snapshots__/Modal.cy.tsx playground #0.png
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  package-lock.json
  package.json
  src/kit/Modal.module.scss
  src/kit/Modal.tsx
Due: eslint, packagelock

lint
  cypress/component/Modal.cy.tsx
Due: eslint

cypress image
  .circleci/config.yml
Due: none

eslint error fix
  tsconfig.check.json
Due: none

eslint error fix
  cypress/component/Modal.cy.tsx
  cypress/support/component.ts
  tsconfig.check.json
Due: eslint

lint fix
  cypress.config.ts
Due: eslint

fix test-cypress
  .circleci/config.yml
Due: none

fixes
  cypress/component/Modal.cy.tsx
  cypress/component/__image_snapshots__/Modal.cy.tsx playground #0.png
  tsconfig.check.json
  tsconfig.node.json
Due: eslint

eslint
  .eslintignore
  tsconfig.node.json
Due: none

fixes
  .circleci/config.yml
  cypress.config.ts
  cypress/component/__image_snapshots__/Modal.cy.tsx playground #0.png
Due: eslint

headed
  .circleci/config.yml
Due: none

browserlaunch window size
  cypress.config.ts
Due: eslint

match chrome version
  .circleci/config.yml
  cypress.config.ts
Due: eslint

headless
  .circleci/config.yml
Due: none

no initial snapshot
  cypress/component/__image_snapshots__/Modal.cy.tsx playground #0.png
Due: none

local snapshot
  cypress.config.ts
  cypress/component/__image_snapshots__/Modal.cy.tsx playground #0.png
Due: eslint

Small changes, with logging
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
  src/kit/Section.tsx
Due: eslint

More logging
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Add key
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Add list key
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Add loading state
  src/kit/LogViewer/LogViewer.tsx
Due: eslint
