Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

build: allow publishing to npm via github action
  .github/workflows/publish-to-npm.yml
Due: none

not private anymore
  package.json
Due: none

chore: use vite-plugin-svg-to-jsx package (#104)
  package-lock.json
  package.json
  vite-plugin-svg-to-jsx.ts
  vite.config.ts
Due: eslint, packagelock

fix: use useConfirm on documentcards
  src/kit/DocumentCards.tsx
Due: eslint

fix: use useConfirm on documentcards (#107)
  src/kit/DocumentCards.tsx
Due: eslint

0.6.30-0
  package-lock.json
  package.json
Due: packagelock

enable native antd form item prop: tooltip
  src/kit/Form.tsx
Due: eslint

export TabItem type for general use
  src/kit/Pivot.tsx
Due: eslint

lint
  src/kit/Form.tsx
Due: eslint

feat: enable tooltip prop for form items (#108)
  src/kit/Form.tsx
  src/kit/Pivot.tsx
Due: eslint

0.6.30
  package-lock.json
  package.json
Due: packagelock

0.6.31
  package-lock.json
  package.json
Due: packagelock

debug bump level
  .github/workflows/publish-to-npm.yml
Due: none

fix event name
  .github/workflows/publish-to-npm.yml
Due: none

scope package
  package.json
Due: none

move npm classic token to secret
  .github/workflows/publish-to-npm.yml
Due: none

fetch all history
  .github/workflows/publish-to-npm.yml
Due: none

switch to main/kill passing github token
  .github/workflows/publish-to-npm.yml
Due: none

move workflow to separate repo
  .github/workflows/publish-to-npm.yml
Due: none

dry runs
  .github/workflows/publish-to-npm.yml
Due: none

update job names
  .github/workflows/publish-to-npm.yml
Due: none

fix tag
  .github/workflows/publish-to-npm.yml
Due: none

fix workflow filename
  .github/workflows/publish-to-npm.yml
Due: none

single quotes only?
  .github/workflows/publish-to-npm.yml
Due: none

explicitly pass github token
  .github/workflows/publish-to-npm.yml
Due: none

fix if statements
  .github/workflows/publish-to-npm.yml
Due: none

move to separate jobs
  .github/workflows/publish-to-npm.yml
Due: none

custom is custom (use custom_bump_level)
  .github/workflows/publish-to-npm.yml
Due: none

update docs
  README.md
Due: none

fix: icon button alignment
  src/kit/Modal.module.scss
Due: none

fix: icon button alignment (#109)
  src/kit/Modal.module.scss
Due: none

move global styles to components
  src/kit/Breadcrumb.module.css
  src/kit/Breadcrumb.module.scss
  src/kit/Breadcrumb.tsx
  src/kit/Button.module.scss
  src/kit/Checkbox.module.scss
  src/kit/DatePicker.module.scss
  src/kit/Pivot.module.scss
  src/kit/Select.module.scss
  src/kit/Spinner.module.scss
  src/kit/Toast.module.scss
  src/kit/Toast.tsx
  src/kit/Tooltip.module.scss
  src/kit/Tooltip.tsx
  src/styles/antd.scss
  src/styles/index.scss
Due: eslint

Inputs
  src/kit/Input.scss
  src/kit/InputNumber.module.scss
  src/kit/InputNumber.tsx
  src/kit/InputSearch.tsx
Due: eslint

fixes
  src/kit/Button.module.scss
  src/kit/Checkbox.module.scss
  src/kit/InputNumber.module.scss
  src/kit/Select.module.scss
  src/kit/Tooltip.module.scss
Due: none

lint
  src/kit/Breadcrumb.module.scss
  src/kit/Button.module.scss
  src/kit/Input.scss
  src/kit/Select.module.scss
  src/kit/Tooltip.module.scss
Due: none

Input Affix Wrapper
  src/kit/Input.scss
  src/kit/Input.tsx
  src/kit/InputSearch.tsx
  src/kit/Inputs.module.scss
Due: eslint
