Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

overload small, x-small when same style
  src/DesignKit.tsx
  src/kit/Typography.module.scss
Due: eslint

format
  src/DesignKit.tsx
Due: eslint

Add extra-small size to Typography (#66)
  src/DesignKit.tsx
  src/kit/Typography.module.scss
  src/kit/Typography.tsx
Due: eslint

0.6.13
  package-lock.json
  package.json
Due: packagelock

update useResize
  src/kit/LineChart.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/Nameplate.tsx
  src/kit/RadioGroup.tsx
  src/kit/ResponsiveGroup.tsx
  src/kit/SplitPane.tsx
  src/kit/internal/Markdown.tsx
  src/kit/internal/UPlot/UPlotChart.tsx
  src/kit/internal/useGetCharMeasureInContainer.ts
  src/kit/internal/useResize.ts
  src/kit/internal/useResizeWidth.ts
  src/kit/useMobile.tsx
Due: eslint

feat: Pass height to logviewer
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

move media-queries.scss
  src/DesignKit.module.scss
  src/DesignKit.tsx
  src/kit/Column.module.scss
  src/kit/DocumentCards.module.scss
  src/kit/scss/media-queries.scss
Due: eslint

update copy
  src/DesignKit.tsx
Due: eslint

test
  src/index.ts
Due: eslint

allow for theme variables to have low specificity (#65)
  src/DesignKit.tsx
  src/kit/Theme/UI.tsx
Due: eslint

add resizable func to the LogViewer component
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
Due: eslint, packagelock

update Designkit page
  src/DesignKit.tsx
Due: eslint

remove unused styles
  src/kit/LogViewer/LogViewer.module.scss
Due: none

fix: glossary width
  src/kit/Glossary.module.scss
Due: none

Revert "update useResize"
  src/kit/LineChart.tsx
  src/kit/LogViewer/LogViewer.tsx
  src/kit/Nameplate.tsx
  src/kit/RadioGroup.tsx
  src/kit/ResponsiveGroup.tsx
  src/kit/SplitPane.tsx
  src/kit/internal/Markdown.tsx
  src/kit/internal/UPlot/UPlotChart.tsx
  src/kit/internal/useGetCharMeasureInContainer.ts
  src/kit/internal/useResize.ts
  src/kit/internal/useResizeWidth.ts
  src/kit/useMobile.tsx
Due: eslint

fix useResize
  src/kit/internal/useResizeWidth.ts
  src/kit/useMobile.tsx
Due: eslint

stylesheet cleanup
  src/kit/List.module.scss
Due: none

typography
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Typography.tsx
Due: eslint

format
  src/kit/Typography.tsx
Due: eslint

import
  vite.config.ts
Due: eslint

format
  vite.config.ts
Due: eslint

refactor useMobile
  src/kit/useMobile.tsx
Due: eslint

dynamic height based on parent container
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

fix: glossary width (#70)
  src/kit/Glossary.module.scss
Due: none

set default height value
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

change designkit container height value
  src/DesignKit.tsx
Due: eslint

change the script selector
  scripts/designkit-screenshot.mjs
Due: eslint

feat: change the screenshot test script selector (#73)
  scripts/designkit-screenshot.mjs
Due: eslint

hide scrollbar
  src/kit/LogViewer/LogViewer.module.scss
Due: none

attend to PR comments
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.module.scss
Due: eslint

solve lint
  src/kit/LogViewer/LogViewer.module.scss
Due: none

Convert cards to surface
  src/DesignKit.module.scss
  src/DesignKit.tsx
Due: eslint

Additional css cleanup
  src/DesignKit.module.scss
  src/DesignKit.tsx
Due: eslint

fix initial height definition
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

update component description
  src/DesignKit.tsx
Due: eslint

ran prettier
  src/DesignKit.tsx
Due: eslint

MediaQueryList
  src/kit/useMobile.tsx
Due: eslint
