Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: local
    hooks:
    -   id: prettier
        name: prettier
        entry: sh -c 'npx prettier --write $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx, css, less, scss, markdown, json]
        require_serial: true
        stages:
          - commit
    -   id: eslint
        name: eslint
        entry: sh -c 'npx eslint --fix $@ && git add $@' _
        language: system
        types_or: [javascript, jsx, ts, tsx]
        require_serial: true
        stages:
          - commit
    -   id: stylelint
        name: stylelint
        entry: sh -c 'npx stylelint --fix $@ && git add $@' _
        language: system
        types_or: [css, less, scss]
        require_serial: true
        stages:
          - commit
    -   id: packagelock
        name: checking for ssh sources in package-lock.json
        entry: ssh://
        files: ^package-lock\.json$
        language: pygrep
        stages:
          - commit

fix: improve ipynb loading hitches (#132)
  package-lock.json
  package.json
  src/kit/CodeEditor.tsx
  src/kit/CodeEditor/CodeEditor.module.scss
  src/kit/CodeEditor/IpynbRenderer.tsx
Due: eslint, packagelock

feat: support `foldGutter` in code editor
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/CodeEditor.tsx
  src/kit/internal/CodeMirrorEditor.tsx
Due: eslint, packagelock

chore: npm dedupe
  package-lock.json
Due: packagelock

chore: update code example
  src/DesignKit.tsx
Due: eslint

feat: support fold gutter in code editor (#133)
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/CodeEditor.tsx
  src/kit/internal/CodeMirrorEditor.tsx
Due: eslint, packagelock

build: only pack necessary build artifact
  package.json
Due: none

fix: use `-` for empty data in DataGrid
  src/kit/DataGrid/columns.ts
Due: eslint

fix: use `-` for empty data in DataGrid (#135)
  src/kit/DataGrid/columns.ts
Due: eslint

fix: remove unused languages from codeeditor
  package-lock.json
  package.json
  src/kit/CodeEditor.tsx
Due: eslint, packagelock

centralize language definitions
  src/kit/CodeEditor.tsx
  src/kit/internal/CodeMirrorEditor.tsx
  src/kit/utils/codemirrorLanguages.ts
Due: eslint

add testId to Message
  src/kit/Message.tsx
Due: eslint

add testId to Message (#137)
  src/kit/Message.tsx
Due: eslint

fix: remove unused languages from codeeditor (#136)
  package-lock.json
  package.json
  src/kit/CodeEditor.tsx
  src/kit/internal/CodeMirrorEditor.tsx
  src/kit/utils/codemirrorLanguages.ts
Due: eslint, packagelock

add action prop to Alert
  src/DesignKit.tsx
  src/kit/Alert.tsx
Due: eslint

add action prop to Alert (#138)
  src/DesignKit.tsx
  src/kit/Alert.tsx
Due: eslint

add label to table state
  src/DesignKit.tsx
  src/kit/DataGrid/custom-renderers/cells/stateCell.tsx
Due: eslint

fmt
  src/DesignKit.tsx
Due: eslint

feat: Add label to the state column of DataGrid (#139)
  src/DesignKit.tsx
  src/kit/DataGrid/custom-renderers/cells/stateCell.tsx
Due: eslint

improve publish workflow
  .github/workflows/publish-to-npm.yml
Due: none

feat: expose onHeaderClick in DataGrid api
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

add button
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

feat: expose onHeaderClick in DataGrid api (#140)
  src/kit/DataGrid/DataGrid.tsx
Due: eslint

feat: support scrollable search for log viewer
  src/kit/LogViewer/LogViewerSelect.settings.ts
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

fmt
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

add fp-ts package
  package-lock.json
  package.json
Due: packagelock

chore: introduce useMediaQuery
  src/kit/internal/Theme/theme.ts
  src/kit/useMobile.tsx
  src/kit/utils/useMediaQuery.ts
Due: eslint

add comments
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

update logviewer
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

remove unnecessary fields
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint

add comment
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

strip script tag
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

update regex
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

fix
  src/kit/LogViewer/LogViewerEntry.tsx
Due: eslint

feat: Support regex and scrollable search for `LogViewer` (#141)
  package-lock.json
  package.json
  src/kit/LogViewer/LogViewerEntry.tsx
  src/kit/LogViewer/LogViewerSelect.settings.ts
  src/kit/LogViewer/LogViewerSelect.tsx
Due: eslint, packagelock

fix: check data types for flat run
  src/kit/DataGrid/columns.ts
Due: eslint

fix: check data types for flat run (#143)
  src/kit/DataGrid/columns.ts
Due: eslint

feat: show type badge in DataGrid header
  src/kit/DataGrid/DataGrid.tsx
  src/kit/DataGrid/columns.ts
  src/kit/DataGrid/custom-renderers/utils.ts
Due: eslint

chore: feedback
  src/kit/DataGrid/custom-renderers/utils.ts
Due: eslint

fix: minor fix
  src/kit/DataGrid/DataGrid.tsx
Due: eslint
