Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

eslint:
  name: eslint
  entry: sh -c 'npx eslint --fix $@ && git add $@' _
  language: system
  require_serial: true
  stages:
  - commit

packagelock:
  name: checking for ssh sources in package-lock.json
  entry: ssh://
  language: pygrep
  stages:
  - commit

feat: Add View module [WEB-1672] (#68)
  src/DesignKit.module.scss
  src/DesignKit.tsx
  src/index.ts
  src/kit/Column.module.scss
  src/kit/Column.tsx
  src/kit/DocumentCards.module.scss
  src/kit/scss/breakpoints.module.scss
  src/kit/scss/media-queries.scss
  src/kit/useMobile.tsx
  src/styles/global.scss
  vite.config.ts
Due: eslint

fix: ensure card's children stretch to grow
  src/kit/Card.module.scss
  src/kit/Card.tsx
Due: eslint

attend to PR comments
  src/kit/LogViewer/LogViewer.module.scss
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

fix: Chart zoom and lengend
  src/DesignKit.tsx
  src/kit/LineChart.tsx
  src/kit/internal/UPlot/UPlotChart.module.scss
  src/kit/internal/UPlot/UPlotChart.tsx
Due: eslint

global
  src/kit/Typography.module.scss
Due: none

typography css rule
  src/kit/Typography.module.scss
Due: none

ant typography margin cut
  src/kit/Typography.module.scss
Due: none

margin-top
  src/kit/Typography.module.scss
Due: none

make css rule more specific
  src/kit/Typography.module.scss
Due: none

apply to single title elements
  src/kit/Typography.module.scss
Due: none

Typography margin (#71)
  src/kit/Typography.module.scss
Due: none

0.6.14
  package-lock.json
  package.json
Due: packagelock

Typography tweaks
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Typography.module.scss
Due: eslint

typo
  src/DesignKit.tsx
Due: eslint

format
  src/DesignKit.tsx
Due: eslint

removed unused css
  src/kit/LineChart.module.scss
Due: none

feat: Add List component [WEB-1816] (#61)
  src/DesignKit.tsx
  src/kit/Column.module.scss
  src/kit/Column.tsx
  src/kit/Link.module.scss
  src/kit/Link.tsx
  src/kit/List.module.scss
  src/kit/List.tsx
  src/kit/Row.tsx
  src/kit/Typography.module.scss
  src/kit/Typography.tsx
Due: eslint

chore: Add MouseEvent to Modal handleSubmit
  src/kit/Modal.tsx
Due: eslint

fix example page
  src/DesignKit.tsx
Due: eslint

formatting
  src/DesignKit.tsx
  src/kit/Modal.tsx
Due: eslint

types
  src/kit/Checkbox.tsx
  src/kit/DatePicker.tsx
  src/kit/Pivot.tsx
  src/kit/Select.tsx
Due: eslint

chore: Add MouseEvent arg to Modal handleSubmit (#75)
  src/DesignKit.tsx
  src/kit/Modal.tsx
Due: eslint

0.6.15
  package-lock.json
  package.json
Due: packagelock

disabled Toggle
  src/DesignKit.tsx
  src/kit/Toggle.tsx
Due: eslint

include modal close export
  src/kit/Modal.tsx
Due: eslint

ModalCloseReason
  src/kit/Modal.tsx
Due: eslint

made the "resizable" feature optional with the "resize" prop as false by default
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

typing
  src/kit/Modal.tsx
Due: eslint

fix: Line chart filter by legend after zoom (#74)
  src/DesignKit.tsx
  src/kit/LineChart.module.scss
  src/kit/LineChart.tsx
  src/kit/internal/UPlot/UPlotChart.module.scss
  src/kit/internal/UPlot/UPlotChart.tsx
Due: eslint

fix: Page screen shot path
  scripts/designkit-screenshot.mjs
Due: eslint

remove resizable func.
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint, packagelock

use id
  scripts/designkit-screenshot.mjs
  src/DesignKit.tsx
Due: eslint

custom footer in modal
  src/DesignKit.module.scss
  src/DesignKit.tsx
  src/kit/Modal.tsx
Due: eslint

custom footer inside of css.footer
  src/DesignKit.module.scss
  src/kit/Modal.tsx
Due: eslint

Add modal props to replace useModal (#77)
  src/DesignKit.module.scss
  src/DesignKit.tsx
  src/kit/Modal.tsx
Due: eslint

0.6.16
  package-lock.json
  package.json
Due: packagelock

RadioGroup row
  src/DesignKit.tsx
  src/kit/RadioGroup.module.scss
  src/kit/RadioGroup.tsx
Due: eslint

format
  src/DesignKit.tsx
  src/kit/RadioGroup.module.scss
  src/kit/RadioGroup.tsx
Due: eslint

fix: Demo page screenshot path (#76)
  scripts/designkit-screenshot.mjs
  src/DesignKit.tsx
Due: eslint

RadioGroup row fix
  src/DesignKit.tsx
  src/kit/RadioGroup.module.scss
  src/kit/RadioGroup.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  packagelock: any of: ^package-lock\.json$
