Repository determined-ai/hew: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, packagelock

eslint:
  name: eslint
  entry: sh -c 'npx eslint --fix $@ && git add $@' _
  language: system
  require_serial: true
  stages:
  - commit

packagelock:
  name: checking for ssh sources in package-lock.json
  entry: ssh://
  language: pygrep
  stages:
  - commit

SplitPane width
  src/kit/SplitPane.module.scss
Due: none

Row height
  src/DesignKit.tsx
  src/kit/Row.tsx
Due: eslint

fix: Set font theme globally
  src/kit/Theme/UI.tsx
Due: eslint

feat: Resize splitpane with keyboard
  src/kit/SplitPane.module.scss
  src/kit/SplitPane.tsx
Due: eslint

fix: InputShortcut blur on tab press
  src/kit/InputShortcut.tsx
Due: eslint

fail using react-aria
  package-lock.json
  package.json
  src/DesignKit.tsx
  src/kit/Select.aria.tsx
  src/kit/Select.mui.module.scss
  src/kit/Select.mui.tsx
  src/kit/internal/functions.ts
  src/kit/utils/functions.ts
Due: eslint, packagelock

fix: InputShortcut blur on tab press (#94)
  src/kit/InputShortcut.tsx
Due: eslint

feat: Resize splitpane with keyboard (#93)
  src/kit/SplitPane.module.scss
  src/kit/SplitPane.tsx
Due: eslint

fix: LogViewer shows No Logs message at correct times
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Tags, keyboard accessibility
  src/kit/Link.tsx
  src/kit/Tags.tsx
Due: eslint

feat: keep scroll uppon new logs
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

Link, keyboard accessibility
  src/kit/Link.tsx
  src/kit/Tags.tsx
Due: eslint

Tags, prevent unintented duplicate
  src/kit/Tags.tsx
Due: eslint

fmt
  src/kit/Tags.tsx
Due: eslint

fix: LogViewer shows No Logs message at correct times (#95)
  src/DesignKit.tsx
  src/kit/LogViewer/LogViewer.tsx
Due: eslint

0.7.0
  package-lock.json
  package.json
Due: packagelock

0.6.24
  package-lock.json
  package.json
Due: packagelock

0.6.25
  package-lock.json
  package.json
Due: packagelock

fix: Tags, keyboard accesibility [WEB-1852] (#98)
  src/kit/Link.tsx
  src/kit/Tags.tsx
Due: eslint

create Alert
  src/DesignKit.tsx
  src/kit/Alert.tsx
Due: eslint

description type
  src/kit/Alert.tsx
Due: eslint

description example
  src/DesignKit.tsx
Due: eslint

fix: Scientific notation and null values
  src/kit/LineChart.tsx
Due: eslint

fmt
  src/DesignKit.tsx
Due: eslint

fix: Scientific notation and null values (#99)
  src/kit/LineChart.tsx
Due: eslint

0.6.26
  package-lock.json
  package.json
Due: packagelock

export
  src/index.ts
Due: eslint

include antd App in UIProvider
  src/kit/Theme/UI.tsx
Due: eslint

chore: upgrade to vite 5
  package-lock.json
  package.json
Due: packagelock

chore: upgrade to vite 5 (#97)
  package-lock.json
  package.json
Due: packagelock

add Alert component (#100)
  src/DesignKit.tsx
  src/index.ts
  src/kit/Alert.tsx
Due: eslint

0.6.27
  package-lock.json
  package.json
Due: packagelock

provider order
  src/kit/Theme/UI.tsx
Due: eslint

fmt
  src/kit/Theme/UI.tsx
Due: eslint

include antd App in UIProvider (#101)
  src/kit/Theme/UI.tsx
Due: eslint

0.6.28
  package-lock.json
  package.json
Due: packagelock

Tree
  src/DesignKit.tsx
  src/kit/Tree.tsx
Due: eslint

export TreeDataNode
  src/kit/Tree.tsx
Due: eslint

Divider
  src/DesignKit.tsx
  src/kit/Divider.tsx
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  packagelock: any of: ^package-lock\.json$
